<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Telegram Bot Instructions</title>
  <link rel="stylesheet" href="css/telegram.css"> <!-- Link to your external CSS file -->
</head>
<body>
  <div class="instructions">
    <h2>Connect &nbsp<span ><img src="image/telegram.png" style="height: 20px;"></span> &nbspTelegram</h2>
    <h3>Add bot to your group</h3>
    <p><strong>Manual:</strong></p>
    <ol>
      <li>Open the Telegram app.</li>
      <li>Open the group you want to add the bot to.</li>
      <li>Click on "Add Members" in group settings.</li>
      <li>Search <a href="https://t.me/HodlInfoBot">@HodlInfoBot</a> and click it.</li>
    </ol>
    <p><strong>Automatic:</strong></p>
    <p>Go to: <a href="https://t.me/HodlInfoBot?startgroup=true">https://t.me/HodlInfoBot?startgroup=true</a></p>

    <h2>Chat with the bot</h2>
    <p><strong>Manual:</strong></p>
    <ol>
      <li>Open the Telegram app.</li>
      <li>Click on the "New Message" button.</li>
      <li>In the search bar, type <strong>HodlInfoBot</strong>.</li>
      <li>Click on <a href="https://t.me/HodlInfoBot">@HodlInfoBot</a>.</li>
    </ol>
    <p><strong>Automatic:</strong></p>
    <p>Go to: <a href="https://t.me/HodlInfoBot">https://t.me/HodlInfoBot</a></p>
  </div>
</body>
</html>
